#contenedor{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}
body {

	
	background-repeat: no-repeat;
	background-size: cover;
}
h2{
	font-family: verdana;
	color:#004669;
	margin-left: 20px;
	font-size: 40px;
	text-align: center;
}
h3{
	font-family: verdana;
	color:#004669;
	margin-left: 20px;
	font-size: 25px;
	text-align: left;
}
h4{
	font-family: verdana;
	color:#004669;
	margin-bottom: 20px;
	margin-left: 550px;
	font-size: 20px;
	text-align: right;
}
header{
	background-color: #FFFFFF;
	width: 1000px;
	height: 138px;
	

}
nav{
	width: 1000px;
	height: 51px;
	background: #FFFFFF;
	border:solid;
	border-color: #004669;
	border-radius:10px;

}
ul{

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;


}
li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px;
}
li a:hover{
	background-color: #F0B429;
}
li ul{
	display: none;
	position: absolute;
	min-width: 140px;


}
li:hover > ul{
	display: block;

}
a{
	text-decoration: none;
	font-size: 20px;
	color: #005883;
	display: block

}

section {
	width: 550px;
	background: white;
	height: 400px;
	float: left;
	margin-top: 20px;
	
}
aside{
	width: 280px;
	background: white;
	height: 400px;
	float: left;
	margin-left: 150px;
	margin-top: 20px;
	border-radius: 20px;


}
footer{

	background-color: #000000;
	margin-top: 800px;
	Width: 1000px;
	height: 100px;
	bottom: 0;
	text-align: right;

}